@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "general";
    src: url("/fonts/general.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "robert";
    src: url("/fonts/robert-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "robert";
    src: url("/fonts/robert-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "circular-web";
    src: url("/fonts/circularweb-book.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Urania Czech";
    src: url("/fonts/urania-czech.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
}
